<%= image_tag @pin.image.url( :medium) %>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>
	<div class="panel-body">
       <p><%= @pin.description %></p>
       <p><strong><%= @pin.user.name if @pin.user %></strong></p>
	<% if current_user && @pin.user == current_user %>
         <%= link_to edit_pin_path(@pin) do %>
               <span class="glyphicon glyphicon-trash"></span>
               Edit
<% end %>
<%= link_to 'Back', pins_path %>
